.titleBlue {
  color: #4158F6;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.687%; /* 15.636px */
  text-transform: uppercase;
  margin: 0;
}
