.mainTitle {
  color: #1E1E1E;
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
